/* CSS Document */

body{margin:34px 0px;	background:#eae4c0; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#535353; font-weight:bold;}
.dot-border{ border:1px dashed #b5b5b5;}
.clear_button{
font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#535353; font-weight:normal;
	height:20px;
	background:#DBEAF3;
	border:1px solid #A1B6C3;
}
.winner:link{ font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#535353; font-weight:normal; text-decoration:underline;}
.winner:active{ font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#535353; font-weight:normal; text-decoration:underline;}
.winner:visited{ font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#535353; font-weight:normal; text-decoration:underline;}
.winner:hover{ font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000; font-weight:normal; text-decoration:none;}

.winner-border{ border-bottom:1px dashed #bababa;}
.header{height:119px; background:#f3eed1; border:1px solid #e2ddba; padding:0px 0px 0px 20px;}

.caption{padding-left:30px;font-family:"ZapfHumnst BT", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size:36px; color:#cc0000; font-stretch:extra-condensed; font-weight:normal;}
.helptext{font-family:"ZapfHumnst BT", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size:15px; color:#645606; font-weight:normal;line-height:16px;}

.left-cap{font-family:"ZapfHumnst BT", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size:18px; color:#211f20; font-stretch:extra-condensed; font-weight:normal; padding-bottom:5px;}
.body-part{background-color:#ffffff; border-left:1px solid #e2ddba; border-right:1px solid #e2ddba; padding:20px 0px 20px 0px;}
.body-left{width:674px; padding-top:7px; background:url(images/dot-1.gif) repeat-y right;}
.body-right{width:282px; padding-top:7px;}
.right-container{border:1px solid #e2ddba; background-color:#EDF4F7; padding:10px;}

.footer{height:110px; background:url(images/footer-strip.gif) repeat-x top #ddd5a9; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;	font-weight:normal;	color:#1c1e1e;	line-height:18px; border-left:1px solid #d7d0a1; border-right:1px solid #d7d0a1; border-bottom:1px solid #d7d0a1;}
a{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; line-height:18px; color:#1c1e1e;	text-decoration:none;}
a:hover{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; line-height:18px; color:#1c1e1e; text-decoration:underline;}
